{% spaceless %}<h2 class='space round'>Game Stats</h2>
<div class='space round'>
    {% ifequal session.user.key.id game.created_by.key.id %}
    <p>
        Hello, <strong>{{session.user.twit_screen_name}}</strong>. You are the host.
    </p>
    {% else %}
    <p>
        <img class='user_img' src='{{game.created_by.twit_img_url}}'>Posted {{game.created_time|humantime}} by <strong>{{game.created_by.twit_screen_name}}</strong>.
    </p>
    {% endifequal %}
    <p>
        {% if intime %}<strong>{{game.deadline|humantime}}</strong>
        to close this game. 
        {% else %}  
        Closed <strong>{{game.deadline|humantime}}</strong>.
        {% endif %}
    </p>
    <p>
        {% for score in scores %}
		{% if forloop.first %}
			<h2 class='space round'>Final Result</h2>
		{% endif %} 
		<strong>{{score.user.twit_screen_name}}</strong>
        : <strong>{{score.score}} pt</strong>
        <br/>
        {% endfor %}
    </p>
</div>
{% endspaceless %}