{% spaceless %}<h2 class='sidebar'>Guide for Subject</h2>
<div class='space'>
    <p>
        <strong>Magic Mirror is not a Poll.</strong>
		Magic Mirror is a betting game which might have an answer eventually.		 
		Please come back and submit a final result.
    </p>
    <p>
        <strong>Good Example:</strong>
        Which team will be the winner of the world cup 2010?
    </p>
</div>
<h2 class='sidebar'> Guide for Options </h2>
<div class='space'>
    <p>
        Options will be separated by each line.
    </p>
</div>
{% endspaceless %}