{% spaceless %}<h2 class='sidebar'>Guide for Subject</h2>
<div class='space'>
    <p>
        <strong>Magic Mirror is not a online Poll.</strong>
        Major difference between betting game and poll is the answer you submitted will be evalutated. 
		You can use templateFor your convenience.  
    </p>
    <p>
        <strong>Good Example:</strong>
        Which team will be the winner of the world cup 2010?
    </p>
</div>
<h2 class='sidebar'> Guide for Options </h2>
<div class='space'>
    <p>
        Options will be separated by each line.
    </p>
</div>
<h2 class='sidebar'> Guide for Deadline </h2>
<div class='space'>
    <p>
        Deadline should be future! 
        To change timezone, visit 
        <a href='http://twitter.com/settings/account'>
            twitter account setting page
        </a>. 
    </p>
</div>
{% endspaceless %}