{% spaceless %}<h2 class='sidebar'>Guide for Subject</h2>
<div class='space'>
    <p>
        <strong>Magic Mirror is not a Poll.</strong>
        You know that polls and betting games are different. 
        Please build a betting game and enjoy it with your friends. 
    </p>
    <p>
        <strong>Good Example:</strong>
        Which team will be the winner of the world cup 2010?
    </p>
</div>
<h2 class='sidebar'> Guide for Options </h2>
<div class='space'>
    <p>
        Options are distinguished by a line.
    </p>
</div>
{% endspaceless %}