<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Magic Mirror</title>
    </head>
    <body>
        <div class='logo'>
            <h1>Magic Mirror</h1>
        </div>
        <div class='top_menu'>
            <a href='/home'>Home</a>
            <a href='/timeline'>Timeline</a>
            <a href='/post'>Post</a>
            <a href='/oauth/twitter/signout'>Log out</a>
        </div>
        <div class='home_list'>
            <h2>Public Timeline</h2>
            <ul>
                Mirror, Mirror on the wall...
            </ul>
            <ul>
                World Cup result
            </ul>
        </div>
        <div class='stats'>
            <h2>About</h2>
            <ul>
                Name: blah blah
            </ul>
            <ul>
                Location: blah blah
            </ul>
            <h2>Stats</h2>
            <p>
                <ul>
                    Host:
                </ul>
                <ul>
                    Records(Win/Lose/Total):
                </ul>
            </p>
        </div>
		<div>
			copyright reserved mashed potato, 2010
		</div>
    </body>
</html>
