<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Magic Mirror</title>
    </head>
    <body>
        <div class='logo'>
            <h1>Magic Mirror</h1>
        </div>
        <div class='signin_with_twitter'>
            <a href='/oauth/twitter/signin'><img src='/static/img/sign-in-with-twitter.png'/></a>
        </div>
        <div class='home_list'>
            <h2>Public Timeline</h2>
            <ul>
                Mirror, Mirror on the wall...
            </ul>
            <ul>
                World Cup result
            </ul>
        </div>
        <div class='introduce'>
            <h2>What is MagicMirror?</h2>
            <p>
                Magic Mirror is ... blah blah
            </p>
            <h2>How do I use...</h2>
            <p>
                blah blah
            </p>
        </div>
        <div>
            copyright reserved mashed potato, 2010
        </div>
    </body>
</html>
