<!DOCTYPE HTML>
<html>
    <head>
        <title>Magic Mirror</title>
    </head>
    <body>
        <div class='sign_in_layer'>
            {% if user %}<a href='/oauth/twitter/logout'>sign out</a>
            user:{{user}}
            {% else %}<a href='/oauth/twitter/login'>sign in with twitter</a>
            {% endif %}
        </div>
        <div class='list_layer'>
            {% for question in questions %}
            <ol>
                <p>
                    {{ question.created_time }}<a href='/question/{{question.key}}'>{{ question.text }}</a>
                </p>
            </ol>
            {% endfor %}
        </div>
        <div class='count_layer'>
            <p>
                {{ m_count }} magic mirrors answered for {{ q_count }} questions today.
            </p>
        </div>
        {% if user %}
        <div class='ask_form_layer'>
            <form method="post" action="/question">
            	<img src="{{profile_image_url}}"/>
                <div>
                    Q<input name='question'>
                    </input>
                </div>
                <div>
                    Options
                    <textarea name='options'>
                        yes
                        no
                    </textarea>
                </div>
                <div>
                    <input type="submit">
                    </input>
                </div>
            </form>
        </div>{% endif %}
    </body>
</html>