{% spaceless %} <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Magic Mirror (alpha)</title>
        <link rel="stylesheet" type="text/css" href="/static/css/magicmirror.css">
        {% if jquery %}
        <link type="text/css" href="/static/jquery/css/ui-lightness/jquery-ui-1.8.2.custom.css" rel="Stylesheet" />
        <script type="text/javascript" src="/static/jquery/js/jquery-1.4.2.min.js">
        </script>
        <script type="text/javascript" src="/static/jquery/js/jquery-ui-1.8.2.custom.min.js">
        </script>
        {% endif %}
    </head>
    <body>
        <div class='content_layout'>
            <div class='header_layout'>
                <div class='logo'>
                    <h1>Magic Mirror (alpha)</h1>
                </div>
                {% if session %}
                <div class='top_menu round'>
                    <a href='/home'>
                        Home
                    </a>
                    <a href='/timeline'>
                        Public Timeline
                    </a>
                    <a href='/game/new'>
                        Post
                    </a>
                    <a href='/oauth/twitter/signout'>
                        Sign out
                    </a>
                </div>
                {% else %}
                <div class='signin_with_twitter'>
                    <a href='/oauth/twitter/signin{{return_url_param}}'>
                        <img src='/static/img/sign-in-with-twitter.png'/>
                    </a>
                </div>{% endif %}
            </div>
            <div class='bubble'>
            </div>
            <div class='middle_layout round'>
                <div class='main_layout round'>
                    {{main_layout}}
                </div>
                <div class='side_layout round'>
                    {{side_layout}}
                </div>
            </div>
            <div class='footer_layout'>
                &copy; 2010 mashed potato
            </div>
        </div>
    </body>
</html>
{% endspaceless %}