body {
    text-align: left;
    background-image: url(/static/img/bg-clouds.png);
    background-repeat: repeat-x;
    background-color: #C0DEED;
}

.round {
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
}

div.content_layout {
    margin: auto;
    width: 763px;
}

div.header_layout {
    text-align: left;
    height: 50px;
}

div.bubble {
    background-image: url(/static/img/arr2.gif);
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 0px;
    margin-top: 10px;
    padding-top: 11px;
}

div.logo {
    float: left;
    height: 30px;
}

div.top_menu {
    text-align: right;
    vertical-align: text-bottom;
    height: auto;
    margin-top: 20px;
    padding: 5px;
    float: right;
    background-color: #FFFFFF;
}

a.top_menu {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

div.signin_with_twitter {
    text-align: right;
    float: right;
    width: 200px;
    height: 30px;
    margin-top: 25px;
    margin-right: 25px;
}

div.middle_layout {
    margin: 0px;
    padding: 0px;
    width: 763px;
    height: auto;
    overflow: hidden;
    background-color: #DDEEF6;
}

div.main_layout {
    float: left;
    width: 523px;
    height: auto;
    padding: 10px;
    margin: 0px;
    background-color: #FFFFFF;
}

div.side_layout {
    float: left;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: #DDEEF6;
    margin: 0px;
}

div.footer_layout {
    display: block;
    position: static;
    float: left;
    margin: auto;
    width: 763px;
}

div.game {
    padding: 3px;
    border: dotted;
    border-color: #CCCCCC;
    border-left: hidden;
    border-right: hidden;
    border-bottom: hidden;
    border-width: 1px;
}

div.game:hover {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    border: dotted;
    background-color: #c0deed;
    border-color: #FFCCCC;
    border-width: 1px;
}

ul.option {
    margin: 0px;
    padding: 0px;
}

h2.game_text {
    background-color: #a6d0e3;
    padding: 5px;
    margin: 1px;
}

h3.answer {
    background-color: #c0deed;
    padding: 5px;
    margin: 1px;
}

div.messages {
    border: dotted;
    border-width: 1px 0px 0px 0px;
    border-color: #aaaaaa;
    padding: 0px;
    margin-top: 20px;
}

div.message {
    overflow: hidden;
}

div.message_links {
    float: right;
}

div.game_view {
    overflow: hidden;
}

li.gamer_list {
    float: none;
    margin-left: 20px;
    overflow: hidden;
}

li.gamer_list:hover {
    background-color: #ddeef6;
}

div.user_img {
    padding: 2px 1px 1px 1px;
    float: left;
    text-align: center;
}

div.user_img:hover {
    padding: 1px 0px 0px 0px;
    /*background-color: #b0cedd;*/
    border: solid;
    border-width: 1px;
    border-color: #ff0000;
}

div.gamer_img_list {
    overflow: hidden;
}

.img_text {
    font-size: small;
    color: #444444;
    margin: 0px;
    paddin: 0px;
}

img.user_img {
    margin: 0px;
    margin-right: 12px;
    float: left;
}

img.user_img2 {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

p.twit_text {
    margin-top: 0px;
    margin-right: 10px;
    overflow: hidden;
}

ul.game_list {
    margin: auto;
    padding: 0px;
}

h2 {
    margin: 0px;
    padding: 0px;
}

span.deadline {
    font-size: small;
    color: #999999;
}
