{%spaceless%}
<script type="text/javascript">
    $(function(){
        $("#datepicker").datepicker({
            minDate: 0
        });
    });
</script>
<div>
    <form method='post' action='/game'>
        <h2 class='space round'>Issue a game</h2>
        <div>
            <h3 class='space round {%ifequal error "subject"%}pink-back{% endifequal %}'>Subject</h3>
            <div>
                <textarea class='twitbox round3' autocomplete="off" rows="2" name='subject'>{% if subject %}{{subject|escape}}{% else %}Mirror, mirror on the wall, Who is the fairest fair of all?{% endif %}</textarea>
            </div>
        </div>
        <div>
            <h3 class='space round {%ifequal error "option"%}pink-back{% endifequal %}'>Options</h3>
            <div id='options'>
                <textarea class='twitbox round3' rows='5' name='option'>{% endspaceless %}{{options}}{%spaceless%}</textarea>
            </div>
        </div>
        <div>
            <h3 class='space round {%ifequal error "deadline"%}pink-back{% endifequal %}'>Deadline</h3>
            <div>
                <input id="datepicker" name='due_date' type='text' value='{{due_date}}'>
                <select name='due_time'>
                    <option value='12:00AM'>12:00AM</option>
                    <option value='12:30AM'>12:30AM</option>
                    <option value='01:00AM'>01:00AM</option>
                    <option value='01:30AM'>01:30AM</option>
                    <option value='02:00AM'>02:00AM</option>
                    <option value='02:30AM'>02:30AM</option>
                    <option value='03:00AM'>03:00AM</option>
                    <option value='03:30AM'>03:30AM</option>
                    <option value='04:00AM'>04:00AM</option>
                    <option value='04:30AM'>04:30AM</option>
                    <option value='05:00AM'>05:00AM</option>
                    <option value='05:30AM'>05:30AM</option>
                    <option value='06:00AM'>06:00AM</option>
                    <option value='06:30AM'>06:30AM</option>
                    <option value='07:00AM'>07:00AM</option>
                    <option value='07:30AM'>07:30AM</option>
                    <option value='08:00AM'>08:00AM</option>
                    <option value='08:30AM'>08:30AM</option>
                    <option value='09:00AM'>09:00AM</option>
                    <option value='09:30AM'>09:30AM</option>
                    <option value='10:00AM'>10:00AM</option>
                    <option value='10:30AM'>10:30AM</option>
                    <option value='11:00AM'>11:00AM</option>
                    <option value='11:30PM'>11:30PM</option>
                    <option value='12:00PM' selected='selected'>12:00PM</option>
                    <option value='12:30PM'>12:30PM</option>
                    <option value='01:00PM'>01:00PM</option>
                    <option value='01:30PM'>01:30PM</option>
                    <option value='02:00PM'>02:00PM</option>
                    <option value='02:30PM'>02:30PM</option>
                    <option value='03:00PM'>03:00PM</option>
                    <option value='03:30PM'>03:30PM</option>
                    <option value='04:00PM'>04:00PM</option>
                    <option value='04:30PM'>04:30PM</option>
                    <option value='05:00PM'>05:00PM</option>
                    <option value='05:30PM'>05:30PM</option>
                    <option value='06:00PM'>06:00PM</option>
                    <option value='06:30PM'>06:30PM</option>
                    <option value='07:00PM'>07:00PM</option>
                    <option value='07:30PM'>07:30PM</option>
                    <option value='08:00PM'>08:00PM</option>
                    <option value='08:30PM'>08:30PM</option>
                    <option value='09:00PM'>09:00PM</option>
                    <option value='09:30PM'>09:30PM</option>
                    <option value='10:00PM'>10:00PM</option>
                    <option value='10:30PM'>10:30PM</option>
                    <option value='11:00PM'>11:00PM</option>
                    <option value='11:30PM'>11:30PM</option>
                </select>
                {{timezone}}
            </div>
        </div>
        <div>
            <h3 class='space round'><input type="checkbox" name="tweet_it" checked=True value="tweet_it" />Tweet It</h3>
        </div>
        <div>
            <input type='submit' value='submit'/>
        </div>
    </form>
</div>{% endspaceless %}