{% spaceless %}
<div>
    <h1>Game</h1>
    <img src='{{game.created_by.twit_img_url}}'>
    <p>
        <strong>{{game.created_by.twit_screen_name}}</strong>
        {{game.subject|escape}}
    </p>
    <p>
        {{game.created_time}}
    </p>
    <p>
        {{game.deadline}}
    </p>
    {% for option_game in option_game_map %}
    <ol>
        <p>
            {{forloop.counter}}.<a href='/{{game.key.id}}/{{forloop.counter0}}'>{{option_game.0|escape}}</a>
        </p>
        {% for gamer in option_game.1 %}<img src='{{gamer.user.twit_img_url}}'>{% endfor %}
    </ol>{% endfor %}
</div> {% endspaceless %}