<div>
    <h1>issue a game</h1>
    <form>
        <div>
            Subject: 
            <div>
                <textarea>Mirror, Mirror on the wall, ...</textarea>
            </div>
        </div>
        <div>
            Options:
            <div>
                <input type='text' value="yes">
            </div>
            <div>
                <input type='text' value="no">
            </div>
            <div>
                <a href='#'>+ add option</a>
            </div>
        </div>
        <div>
            Due Date:
            <div>
                <input type='text'>
            </div>
        </div>
        <div>
            Message:
            <div>
                <textarea></textarea>
            </div>
        </div>
    </form>
</div>
