{% spaceless %}
{% comment %}
this template is for MagicMirror game view page.
{% endcomment %}
<div>
    <div class='game_view round'>
        <h2 class='space round'>{{game.subject|escape}} </h2>
        <ul class='option'>
            {% for option_game in option_game_map %}
            <li class='gamer_list round'>
                {% ifequal game.result option_game.2 %}<h3 class='space round pink-back'><strong>* {{option_game.0|escape}}</strong></h3>
                {% else %}<h3 class='space round'><strong>{{option_game.0|escape}}</strong></h3>
                {% endifequal %}
                <div class='gamer_img_list'>
                    {% for gamer in option_game.1 %}
                    <div class='user_img'>
                        <img class='user_img2' src='{{gamer.user.twit_img_url}}'>
                        <br/>
                        <span class='img_text'>
                            {{gamer.user.twit_screen_name}}
                        </span>
                    </div>
                    {% endfor %}
                </div>
                {% if session and intime%} 
                <a class='small right' href='/{{game.key.id}}/{{forloop.counter0}}'>
                    Join in
                </a>
                {% endif %} 
                {% if session and not intime and not game.has_result %}
                {% ifequal session.user.key.id game.created_by.key.id %}
                <a class='small right' href='/{{game.key.id}}/{{forloop.counter0}}/set_result'>
                    set it to the final result
                </a>
                {% endifequal %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class='messages'>
        {% if session %}
        <div class='post_twit round'>
            <h2 class='simple round'>{{session.user.twit_screen_name|title}}, what do you think about?</h2>
            <form action='/{{game.key.id}}/msg' method='post'>
                <div class='blue round'>
                    {% ifequal session.user.key.id game.created_by.key.id %} <textarea class='twitbox round3' name='message'>{{config.hosturl}}/{{game.key.id}} </textarea>
                    {% else %}<textarea class='twitbox round3' name='message'>{{config.hosturl}}/{{game.key.id}} @{{game.created_by.twit_screen_name}} </textarea>
                    {% endifequal %}<input type="checkbox" name="tweet_it" checked="checked" value="tweet_it" /><strong>tweet it</strong>
                    <input type='submit'/>
                </div>
            </form>
        </div>{% endif %}
        {% for message in messages %}
        <div class='message_list'>
            <div class='game'>
                <div>
                    <img class='user_img' src='{{message.user.twit_img_url}}'>
                </div>
                <p class='twit_text'>
                    <strong>{{message.user.twit_screen_name}}</strong>
                    {{message.text|escape}}
                    <br/>
                    <span class='deadline'>
                        {{message.created_time|humantime}}
                    </span>
                    {% ifequal message.user.key.id session.user.key.id %}
                    <span class='deadline'>
                        <a href='/msg/{{message.key}}/delete'>
                            delete
                        </a>
                    </span>
                    {% endifequal %}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>{% endspaceless %}