{% spaceless %}
<div>
	<!-- pending game list -->
    {% if pending_games.count %}<h2 class='space round'>Pending</h2>
    <ul class='game_ul'>
        {% for game in pending_games %}
        {{game|render_game_preview}}
        {% endfor %}
    </ul>
    {% endif %}
	
	<!-- hosting game list -->
    {% if hosted_games.count %}
	<h2 class='space round'>Hosting</h2>
    <ul class='game_ul'>
        {% for game in hosted_games %}
        {{game|render_game_preview}}
        {% endfor %}
    </ul>
    {% endif %}
	
	<!-- playing game list -->
	
    <h2 class='space round'>Playing</h2>
    {% if joined_games %}
    <ul class='game_ul'>
        {% for game in joined_games %}
        {{game|render_game_preview}}
        {% endfor %}
    </ul>
    {% else %}
    <div class='space'>
        <p>
            There's no game that {{user.twit_screen_name}} is playing.
        </p>
    </div>
    {% endif %}
	
	<!-- played game list -->
	
    {% if played_games %}<h2 class='space round'>Played</h2>
    <ul class='game_ul'>
        {% for game in played_games %}
        {{game|render_game_preview}}
        {% endfor %}
    </ul>
    {% endif %}

</div>
{% endspaceless %}